*{
   font-family:sans-serif ;
   margin: 0;

}

body{
    background-color:#e7e9eb;
}

h2{
    font-size: medium;
}


i{
    font-size: 28px;
    margin: 5px;
    color:#e67f3b;
}

/* header */
header{
    background-color: #282a35;
    line-height: 2.2rem;
}

header div{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    color: #ff6347;
    cursor: pointer;
    font-weight: bold;
}

/* anchor tag */
a{
    text-decoration: none;
    color: #1e90ff; 
}

/* search bar properties */
#search{
    text-align: center;
}

input{
   width: 50%;
   height: 2.2rem;
   margin-top: 50px;
   border-radius: 30px;
   border: 2px solid black;
   text-align: center;
   font-size: 1rem;

}
#search-bar{
    color: black;
}

/* search button */
#search-btn{
    width: 5rem;
    height: 2.3rem;
    border-radius: 20px;
    border: none;
    font-size: 0.8rem;
    color: black;
    background-color:#ff6347;
    font-weight: bolder;
    cursor: pointer;
}
#search-btn:hover{
    border: 2px solid white;
    background-color: #ff6347;
    color: black;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

/* style external meal list(api meal list) */
#meals-list{
    margin:70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

li{
    list-style: none;
    padding: 10px;
    width: 25%;
}
.meal h2{
    text-align: center;
    margin-left: 35px;
    cursor: pointer;
}

/* set external image size */
li img{
    margin-left: 30px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 1px solid lightgray;
    cursor: pointer;
}


.meal-name{
    display: flex;
}

.meal-name i{
    font-size: 1.5rem;
    margin-top: 17px;
    margin-left: 15px;
    cursor: pointer;
}
/* icon inner color when click on icon  */
.fas{
    color:red;
}